.sidebar {
  width: 300px;
  height: 100vh;
  background: -webkit-linear-gradient(
    #eef2f3,
    black
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: (
    black #eef2f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.navlink {
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 20px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  color: #000000;
}
